/*body*/
body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.bg-color-1A4052{
    background-color: #1A4052;
}

/*header*/

/*content*/
.bg-color-212529{
    background-color: #212529;
}

.center{
    display: flex;
    justify-content: center;
}

.responsive {
    width: 100%;
    height: auto;
}

img{
    height: auto;
    max-width: 60px;
}

select {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#searchButton{
    background-color: #F5A524;
    color: #212529;
}

#searchButton:hover{
    background-color: #212529;
    color: #F5A524;
    border: 1px solid #F5A524;
}

#table{
    visibility: hidden;
}

#info, #info-brand{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*footer*/
#footer-container{
    border-top: 0.01px solid #F5A524;
    font-size: 1.5vh;
}

#footer-container p{
    opacity: 0.1;
    color: #F5A524;
}

@media (max-width: 884px) {
    #brandSelect{
        font-size: 85%;
    }
    #citySelect{
        font-size: 85%;
    }
    #searchButton{
        font-size: 85%;
    }
    #city{
        font-size: 85%;
    }
    .responsive {
        width: 85%;
        height: auto;
    }
    #table-inner{
        font-size: 85%;
    }
}

@media (max-width: 768px) {
    #brandSelect{
        font-size: 65%;
    }
    #citySelect{
        font-size: 65%;
    }
    #searchButton{
        font-size: 65%;
    }
    #city{
        font-size: 65%;
    }
    .responsive {
        width: 65%;
        height: auto;
    }
    #table-inner{
        font-size: 65%;
    }
}

@media (max-width: 576px) {
    #brandselect{
        font-size: 65%;
    }
    #citySelect{
        font-size: 65%;
    }
    #searchButton{
        font-size: 65%;
    }
    #city{
        font-size: 65%;
    }
    .responsive {
        width: 65%;
        height: auto;
    }
    #table-inner{
        font-size: 65%;
    }
}

@media (max-width: 420px) {
    #city{
        font-size: 50%;
    }
    .responsive {
        width: 50%;
        height: auto;
    }
    #table-inner{
        font-size: 50%;
    }
}