form{
    padding: 15px;
    margin-bottom: 10px;
    background-color: #212529;
    border-radius: 10px;
}

#searchButton{
    background-color: #F5A524;
}

img{
    height: auto;
    max-width: 30px;
    border-radius: 2px;
}

#table{
    padding: 15px;
    background-color: #212529;
    border-radius: 10px;
    visibility: hidden;
}

#header-container{
    padding: 15px;
}

#content-container{
    padding: 15px;
}

.center{
    display: flex;
    justify-content: center;
}

.form-margin{
    margin-right: 5px;
}

.form-width{
    width: 200px;
}

.bg-color{
    background-color: #1A4052;
}